---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Historie1 from "../assets/images/historie/historie1.webp";
import Historie2 from "../assets/images/historie/historie2.webp";
import Kaffebønne1 from "../assets/images/kaffebønner/kaffebønne1.webp";
import Kaffebønne2 from "../assets/images/kaffebønner/kaffebønne2.webp";
import Marcala from "../assets/images/kaffe/marcala.webp";
import Cajamarca from "../assets/images/kaffe/cajamarca.webp";
import Modernespresso from "../assets/images/kaffe/modernitalianespresso.webp";
import datavisualisering from "../assets/images/datavisualisering.png";
import Button from "../components/Button.astro";

const {
  navn1 = "MARCALA",
  bordercolor1 = "border-brand-yellow",
  bgcolor1 = "bg-brand-blue",
  bgcolor3 = "bg-brand-yellow",
  bghovercolor1 = "hover:bg-brand-yellow",
  bghovercolor3 = "hover:bg-brand-blue",
  textcolor1 = "text-brand-yellow",
  textcolor3 = "text-brand-blue",
  texthovercolor1 = "hover:text-brand-blue",
  texthovercolor3 = "hover:text-brand-yellow",
} = Astro.props;
---

<MainLayout title="Nordhavn Coffee">
  <article>
    <!-- Hero section -->
    <section class="parallaxgrafik relative h-[500px] md:h-screen w-full">
      <div
        class="md:h-screen absolute inset-0 w-full h-full grid grid-cols-10 z-0"
      >
        <!-- desktophero billeder -->
        <div
          class="absolute inset-0 w-full h-full grid grid-cols-7 grid-span-2 grid-rows-6"
        >
          <img
            src="/kaffebønner.webp"
            alt="bønner"
            class="md:w-[250px] h-auto object-cover md:rotate-[180deg] md:row-start-1 md:col-start-5 z-30 hidden md:overflow-hidden parallaxgrafik5 md:block"
          />
          <Image
            class="w-[200px] h-auto md:rotate-[20deg] md:row-start-1 md:col-start-5 object-fit pb-s mt-xs z-10 hidden parallaxgrafik2 md:block"
            src={Marcala}
            alt="Marcala"
          />

          <img
            src="/kaffebønner.webp"
            alt="bønner"
            class="md:w-[300px] h-auto object-cover md:rotate-[45deg] md:row-start-1 md:col-start-6 z-15 hidden parallaxgrafik2 md:block"
          />

          <Image
            class="w-[150px] md:rotate-[-10deg] md:row-start-2 md:col-start-6 h-auto object-fit pb-s mt-xs col-span-1 z-35 hidden parallaxgrafik3 md:block"
            src={Modernespresso}
            alt="Modernespresso"
          />

          <img
            src="/kaffebønner.webp"
            alt="bønner"
            class="md:w-[250px] h-auto object-cover md:rotate-[-45deg] md:col-start-5 md:row-start-4 z-20 hidden parallaxgrafik2 md:block"
          />

          <Image
            class="w-[180px] md:rotate-[10deg] md:row-start-1 md:col-start-6 h-auto object-fit pb-s mt-xs col-span-1 z-15 hidden parallaxgrafik5 z-40 md:block"
            src={Cajamarca}
            alt="Cajamarca"
          />

          <img
            src="/kaffebønner.webp"
            alt="bønner"
            class="md:w-[300px] h-auto object-cover md:row-start-5 md:col-start-6 z-20 hidden parallaxgrafik1 md:block"
          />
          <!-- desktophero billeder -->
          <!-- mobilehero billeder -->
          <div class="absolute inset-0 w-full h-full grid grid-cols-10 z-0">
            <Image
              src={Kaffebønne1}
              alt="Kaffebønne"
              class="col-start-2 parallaxgrafik1_1 md:hidden"
              loading="lazy"
            />
            <Image
              src={Kaffebønne2}
              alt="Kaffebønne"
              class="col-start-5 parallaxgrafik2_1 md:hidden"
              loading="lazy"
            />
            <Image
              src={Kaffebønne2}
              alt="Kaffebønne"
              class="col-start-8 parallaxgrafik3_1 md:hidden"
              loading="lazy"
            />
            <Image
              src={Kaffebønne1}
              alt="Kaffebønne"
              class="col-start-3 col-span-2 parallaxgrafik3_1 md:hidden"
              loading="lazy"
            />

            <Image
              src={Kaffebønne1}
              alt="Kaffebønne"
              class="col-start-2 parallaxgrafik1_1 md:hidden"
              loading="lazy"
            />
            <Image
              src={Kaffebønne2}
              alt="Kaffebønne"
              class="col-start-5 parallaxgrafik2_1 md:hidden"
              loading="lazy"
            />
            <Image
              src={Kaffebønne2}
              alt="Kaffebønne"
              class="col-start-8 parallaxgrafik3_1 md:hidden"
              loading="lazy"
            />
            <Image
              src={Kaffebønne1}
              alt="Kaffebønne"
              class="col-start-3 col-span-2 parallaxgrafik5_1 md:hidden"
              loading="lazy"
            />

            <Image
              src={Kaffebønne2}
              alt="Kaffebønne"
              class="col-start-9 parallaxgrafik5_1 md:hidden"
              loading="lazy"
            />

            <Image
              src={Kaffebønne1}
              alt="Kaffebønne"
              class="col-start-3 col-span-2 parallaxgrafik1_1 md:hidden"
              loading="lazy"
            />

            <Image
              src={Kaffebønne2}
              alt="Kaffebønne"
              class="col-start-8 parallaxgrafik2_1 md:hidden"
              loading="lazy"
            />
          </div>
        </div>
        <div class="absolute inset-0 grid grid-cols-10 grid-rows-5">
          <h1 class="row-start-2 col-start-2">NORDHAVN COFFEE</h1>
          <div
            class="row-start-3 col-start-2 col-span-6 md:row-start-3 md:col-start-2 md:col-span-3 justify-center mt-s"
          >
            <Link size="large" variant="button" href="/sortiment">
              Find abonnement →
            </Link>
          </div>
        </div>
      </div>
    </section>

    <!-- Tre bokse -->
    <section
      class="bg-background-beige flex flex-col justify-center md:px-xl py-2xl md:grid md:grid-cols-3 gap-xl md:py-3xl z-50"
    >
      <!-- 1 -->
      <div>
        <div class="relative w-[378px] h-[396px]">
          <!-- SVG container -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="378"
            height="396"
            viewBox="0 0 378 396"
            class="absolute inset-0 max-w-[400px] max-h-[400px]"
            fill="none"
          >
            <defs>
              <!-- clip path i SVG path -->
              <clipPath id="svgClipPath1">
                <path
                  d="M378 396H0V0H221.642C241.509 0 257.614 16.105 257.614 35.9716C257.614 75.7047 289.824 107.915 329.557 107.915H338C360.091 107.915 378 125.823 378 147.915V396Z"
                  fill="none"></path>
              </clipPath>
            </defs>
          </svg>
          <div
            class="absolute top-xxxs right-xs w-3xl h-3xl bg-brand-yellow rounded-full"
          >
          </div>
          <!-- billedet i  SVG -->
          <img
            src="/caffee.webp"
            alt="Image inside SVG container"
            class="absolute inset-0 w-[400px] h-[400px] object-cover"
            style="clip-path: url(#svgClipPath1);"
          />
        </div>

        <div class="">
          <h3>Besøg vores café</h3>
          <div class="gap-ml py-xs">
            <p>
              Kom forbi vores hyggelige kaffebar og smag på de friskristede
              bønner. Georg Brandes Plads 2, 1307 København, Denmark
            </p>
          </div>
        </div>
      </div>

      <!--  2 -->
      <div>
        <div class="relative w-[378px] h-[396px]">
          <!-- SVG container -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="378"
            height="396"
            viewBox="0 0 378 396"
            class="absolute inset-0 max-w-[400px] max-h-[400px]"
            fill="none"
          >
              <!-- clip path i SVG path -->
              <defs>
              <clipPath id="svgClipPath2">
                <path
                  d="M0 396H378V0H156.358C136.491 0 120.386 16.105 120.386 35.9716C120.386 75.7047 88.1761 107.915 48.443 107.915H40C17.9086 107.915 0 125.823 0 147.915V396Z"
                ></path>
              </clipPath>
            </defs>
          </svg>

          <div
            class="absolute top-xxxs left-xs w-3xl h-3xl bg-brand-yellow rounded-full"
          >
          </div>
          <!-- billedet i  SVG -->
          <img
            src="/See-menu.webp"
            alt="Clipped image"
            class="absolute inset-0 w-[400px] h-[400px] object-cover"
            style="clip-path: url(#svgClipPath2); -webkit-clip-path: url(#svgClipPath2);"
          />
        </div>

        <div>
          <h3>Vores risteri</h3>
          <div class="gap-ml py-xs">
            <p>
              Al kaffen ristes i små portioner og pakkes efterfølgende i hånden.
              Hver dag sender vi pakker til hele verden med god friskristet
              kaffe, ristet efter unikke profiler, der løbende udvikles efter
              bønnernes potentiale.
            </p>
          </div>
        </div>
      </div>

      <!-- 3  -->

      <div>
        <div class="relative w-[378px] h-[396px]">
          <!-- SVG container -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="378"
            height="396"
            viewBox="0 0 378 396"
            class="absolute inset-0 max-w-[400px] max-h-[400px]"
            fill="none"
          >
            <defs>
              <!-- clip path i SVG path -->
              <clipPath id="svgClipPath3">
                <path
                  d="M378 396H0V0H221.642C241.509 0 257.614 16.105 257.614 35.9716C257.614 75.7047 289.824 107.915 329.557 107.915H338C360.091 107.915 378 125.823 378 147.915V396Z"
                  fill="none"></path>
              </clipPath>
            </defs>
          </svg>
          <div
            class="absolute top-xxxs right-xs w-3xl h-3xl bg-brand-yellow rounded-full"
          >
          </div>
          <!-- billedet i  SVG -->
          <img
            src="/kaffehylde.webp"
            alt="Image inside SVG container"
            class="absolute inset-0 w-fill w-[378px] h-[400px] object-cover"
            style="clip-path: url(#svgClipPath3);"
          />
        </div>

        <div>
          <h3>Lej os til dit event</h3>
          <div class="gap-ml py-xs">
            <p>
              Nordhavn Coffee tilbyder en unik kaffeoplevelse til dine events.
              Vores mobile kaffebarer og specialdesignede køretøjer er perfekte
              til at tilføje et strejf af elegance og god smag til enhver
              lejlighed.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Kaffe component -->
    <section
      class={`sticky top-0 min-h-screen w-screen bg-cover bg-center ${bgcolor1} p-s grid grid-rows-[auto_1fr_auto_auto_auto_auto_auto] grid-cols-5 md:grid-cols-[0.1fr_1fr_0.8fr_0.8fr_0.1fr_0.1fr]  md:py-10xl mangeelementerinview`}
      id="kaffe-section-1"
    >
      <!-- Indhold her -->

      <div
        class="col-span-full row-span-full grid-rows-subgrid grid-cols-subgrid grid"
      >
        <div class="col-start-1 md:row-start-1 md:col-start-2">
          <h3 class={`${textcolor1}`}>SINGLE</h3>
          <h1 class={`${textcolor1}`}>{navn1}</h1>
        </div>

        <!--billede-->
        <article
          class="relative grid justify-center col-start-2 col-span-3 row-start-2 py-y md:col-start-4 md:col-end-4 md:row-span-full md:row-end-4 hover:origin-center"
        >
          <!-- Marcala billede -->
          <div
            class="md:absolute inset-0 md:flex md:justify-end md:items-center"
          >
            <Image
              src={Marcala}
              alt="kaffe"
              class="w-[200px] md:w-[250px] h-auto object-cover mangeelementer1 z-50"
            />
          </div>
          <!-- Kaffebønner billede -->
          <div class="md:absolute inset-0 flex justify-center items-center">
            <img
              src="/kaffebønner.webp"
              alt="bønner"
              class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer2 z-20 hidden md:block"
            />
          </div>

          <!-- Kaffebønner billede -->
          <div class="md:absolute inset-0 flex justify-center items-center">
            <img
              src="/kaffebønner.webp"
              alt="bønner"
              class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer3 z-20 hidden md:block"
            />
          </div>
        </article>
        <!-- slut -->

        <!--tekst-->
        <h3
          class={`${textcolor1} row-start-3 col-start-1 col-end-4 md:row-start-2 md:col-start-2 `}
        >
          80 - 275 DKK
        </h3>

        <h3
          class={`${textcolor1}  row-start-4 col-start-1 col-end-6 md:col-start-2 md:row-start-5 self-end`}
        >
          BYG DIT EGET ABONNEMENT
        </h3>
        <!-- slut -->

        <!-- SINGLE BUTTON ------>
        <div
          class="flex col-start-2 col-end-6 row-start-5 md:justify-start md:col-start-2 md:row-start-6"
        >
          <Link
            size="medium"
            variant="textlink"
            size="medium"
            href="/singleview"
          >
            <button
              class={`col-start col-end-6 px-lg py-xs border-2  ${bgcolor3} ${textcolor3} font-bold text-xl ${bghovercolor3} ${texthovercolor3} transition`}
            >
              KØB NU
              <span class="ml-2">→</span>
            </button>
          </Link>
        </div>
        <!-- SINGLE BUTTON slut ------>
      </div>

      <div
        class="flex items-center row-start-6 col-start-2 md:justify-start md:col-start-5 md:row-start-4"
      >
        <a href="#kaffe-section-4">
          <button
            class={`w-xl h-xl flex items-center justify-center rounded-full border-2 ${bordercolor1} ${bgcolor1} ${textcolor1} ${bghovercolor1} ${texthovercolor1} transition`}
          >
            Sidste
          </button>
        </a>
      </div>

      <div
        class="items-center row-start-6 col-start-3 md:justify-start md:col-start-5 md:row-start-5"
      >
        <h2
          class={`${textcolor1}  md:justify-start md:col-start-5 md:row-start-5 text-s`}
        >
          1/4
        </h2>
      </div>

      <div
        class="flex items-center row-start-6 col-start-4 md:justify-start md:col-start-5 md:row-start-6"
      >
        <a href="#kaffe-section-2">
          <button
            class={`w-xl h-xl flex items-center justify-center rounded-full border-2 ${bordercolor1} ${bgcolor1} ${textcolor1} ${bghovercolor1} ${texthovercolor1} transition`}
          >
            Næste
          </button>
        </a>
      </div>
    </section>

    <!-- Vores historie -->
    <section class="px-s md:px-2xl py-3xl">
      <h1 class="pb-sm">OM NORDHAVN COFFEE</h1>

      <div class="relative w-full max-w-[1350px] h-[375px] overflow-hidden">
        <Image
          src={Historie1}
          class="w-full h-full object-cover"
          alt="kaffevogn"
        />
      </div>
      <div class="py-xl">
        <h3 class="pb-sm">VI ÅBNER VORES CAFÉ</h3>
        <div class="grid md:grid-cols-2 gap-m md:gap-6xl">
          <p>
            Vores rejse startede i 2007, hvor vi opfandt den mobile kaffebranche
            i Danmark og banede vejen for den gode, hurtige kop kaffe, serveret
            lige der hvor den drikkes.  Vi konstruerede selv den første
            trehjulede kaffebil, der ikke kun bragte kvalitetskaffe, men også
            satte standarden for innovation inden for kaffe og eventcatering.
            Gennem kompetente og servicemindede baristaer blev budskabet om den
            gode kop kaffe hurtigt en del af vores identitet.
          </p>
          <p>
            Vores identitet ligger ganske vist i Københavns Nordhavn, men for at
            nærme os byen har vi åbnet egen cafe i indre by. Her stræbes efter
            at præsentere de bedste sider af kafferne, komplimenteret med lette
            caferetter og særarrangementer. Baristaerne er uddannet hos os og
            kan svare på alle spørgsmål om kaffe og anbefalede bryggemetoder.
            Cafeen er åben, men kan også bookes til private arrangementer til
            mindre selskaber.
          </p>
        </div>
      </div>

      <div class="relative w-full max-w-[1350px] h-[375px] overflow-hidden">
        <Image
          src={Historie2}
          class="w-full h-full object-cover"
          alt="kaffevogn"
        />
      </div>
    </section>
  </article>

  <!-- infografik -->
  <section class="bg-brand-rosa h-full">
    <div class="grid md:grid-cols-2 md:p-2xl p-s">
      <Image
        src={datavisualisering}
        alt="infografik"
        class="max-h-[600px] w-auto pb-s"
      />

      <div class="flex flex-col gap-y-ml justify-center">
        <h2 class="text-font-white">HVORFOR VÆLGE ET KAFFEABONNEMENT</h2>
        <div>
          <p class="text-font-white">Med et kaffeabonnement får du:</p>
          <ul class="list-disc list-inside text-font-white">
            <li>Variation med nye kaffesmage.</li>
            <li>Bekvemmelighed og regelmæssig levering.</li>
            <li>Kaffeglæde hver dag.</li>
          </ul>
          <br />
          <p class="text-font-white">
            Gør kaffehverdagen nemmere og mere spændende – vælg et
            kaffeabonnement, der passer til din livsstil!
          </p>
        </div>
        <Button size="xlarge" variant="buttonpurple" href="/sortiment"
          >FIND ABONNEMENT</Button
        >
      </div>
    </div>
  </section>

  <!-- accordion -->
  <section
    class="bg-brand-yellow py-2xl md:py-7xl grid grid-cols-4 grid-rows-1"
  >
    <div class="md:px-2xl row-start-2 col-span-4 md:col-span-2 z-10 px-s">
      <h1>FAQ</h1>
      <div>
        <details>
          <summary
            class="list-none flex flex-wrap border-y-2 border-rosa-900 items-center cursor-pointer"
          >
            <div class="md:block hidden"></div>
            <h3>AFBESTILLING</h3>
          </summary>
          <div>
            <p class="py-xs">
              Efter at have fulgt de trin, der er skitseret i den generelle
              administrationsdel øverst på denne side, gå til punktet
              ”Administration eller Ændringeller Handling eller Håndtering”,hvor
              du skal klikke på punktet ”Rediger”. Herfra skal du klikke på
              punktet nederst ”Annullering”. Dit abonnement er nu annulleret.
            </p>
          </div>
        </details>
      </div>
      <div>
        <details>
          <summary
            class="list-none flex flex-wrap border-b-2 border-rosa-900 items-center cursor-pointer"
          >
            <div class="md:block hidden"></div>
            <h3>ÅBNINGSTIDER</h3>
          </summary>
          <div>
            <ul>
              <li>
                <p>• Mandag til fredag: 07:45 – 17:00</p>
              </li>
              <li>
                <p>• Lørdag: 10:00 – 17:00</p>
              </li>
              <li>
                <p>• Søndag: 10:00 – 17:00</p>
              </li>
            </ul>
          </div>
        </details>
      </div>
      <div>
        <details>
          <summary
            class="list-none flex flex-wrap border-b-2 border-rosa-900 items-center cursor-pointer"
          >
            <div class="md:block hidden"></div>
            <h3>LEVERING</h3>
          </summary>
          <div>
            <p class="py-xs">
              Leveringstiden for din ordre er 1-3 hverdage. Nordhavn Coffee ApS
              afsender varer med følgende: GLS – Erhverv. Fragten bliver
              beregnet ud fra vægt. Du vil kunne vælge mellem at få pakken sendt
              “uden omdeling” eller “med omdeling”. Du vil altid modtage et
              track and trace nr., så du kan følge din pakke fra vores lager og
              hjem til dig.
            </p>
          </div>
        </details>
      </div>
    </div>
    <div
      class="col-start-4 row-start-2 z-20 -translate-x-m translate-y-ml hidden md:block"
    >
      <img src="/mand.webp" alt="mand" />
    </div>
    <div class="col-start-3 row-start-2 z-10 translate-x-ml hidden md:block">
      <img src="/risteri.webp" alt="risteri" />
    </div>
  </section>

  <!-- Nyhedsbrev Component -->
  <section
    class="bg-brand-rosa px-s md:px-2xl py-3xl flex flex-col items-start"
  >
    <h3
      class="text-brand-purple text-start text-xl md:text-3xl font-semibold mb-xxa"
    >
      TILMELD DIG VORES NYHEDSBREV <br /> OG FÅ OPDATERINGER OM DE NYESTE RISTNINGER
    </h3>
    <form class="w-full flex flex-col md:flex-row md:gap-lg gap-s">
      <input
        type="email"
        placeholder="Din emailadresse..."
        class="flex-grow p-xs mt-xs border-none focus:outline-none focus:ring-2"
      />
      <Button size="xsmall" variant="buttonpurple" href="/">TILMELD</Button>
    </form>
  </section>
</MainLayout>

<script>
  import { animate, scroll, inView } from "motion";

  inView(".mangeelementerinview", ({ target }) => {
    console.log("Element is in view!");

    // Start animation
    animate(
      ".mangeelementer1",
      { x: [0, 0], y: [0, 0], rotate: [0, 15] }, // Tilføj rotation
      { duration: 0.8 }
    );
    animate(
      ".mangeelementer2",
      { x: [0, 200], y: [-100, 0] },
      { duration: 0.8 }
    );

    animate(
      ".mangeelementer3",
      { x: [0, -150], y: [100, 0] },
      { duration: 0.8 }
    );

    // Out-of-view animation
    return () => {
      console.log("Element is out of view!");
      animate(
        ".mangeelementer1",
        { x: [0, 0], y: [0, 0], rotate: [-10, 0] }, // Roter tilbage
        { duration: 0.4 }
      );
      animate(".mangeelementer2", { x: [0, 0], y: [0, 0] }, { duration: 0.4 });
      animate(".mangeelementer3", { x: [0, 0], y: [0, 0] }, { duration: 0.4 });
    };
  });

  // parallax for mobil//
  document.addEventListener("DOMContentLoaded", () => {
    scroll(animate(".parallaxgrafik1", { x: [0, 50], y: [100, 0] }), {
      target: document.querySelector(".parallaxgrafik1"),
      offset: ["start end", "end start"],
    });

    scroll(
      animate(".parallaxgrafik2", {
        x: [0, 50],
        y: [600, 0],
        rotate: [-65, 0],
      }),
      {
        target: document.querySelector(".parallaxgrafik2"),
        offset: ["start end", "end start"],
      }
    );

    scroll(
      animate(".parallaxgrafik3", {
        x: [0, 50],
        y: [700, 0],
        rotate: [65, 0],
      }),
      {
        target: document.querySelector(".parallaxgrafik3"),
        offset: ["start end", "end start"],
      }
    );

    scroll(
      animate(".parallaxgrafik4", {
        x: [0, 50],
        y: [500, 0],
        rotate: [-65, 0],
      }),
      {
        target: document.querySelector(".parallaxgrafik4"),
        offset: ["start end", "end start"],
      }
    );

    scroll(animate(".parallaxgrafik5", { x: [0, 50], y: [300, 0] }), {
      target: document.querySelector(".parallaxgrafik5"),
      offset: ["start end", "end start"],
    });

    scroll(
      animate(".parallaxgrafik6", {
        x: [0, 50],
        y: [500, 0],
        rotate: [-65, 0],
      }),
      {
        target: document.querySelector(".parallaxgrafik2"),
        offset: ["start end", "end start"],
      }
    );
  });

  // Desk animation //
  scroll(animate(".parallaxgrafik1_1", { x: [0, 50], y: [100, 0] }), {
    target: document.querySelector(".parallaxgrafik1_1"),
    offset: ["start end", "end start"],
  });

  scroll(
    animate(".parallaxgrafik2_1", {
      x: [0, 50],
      y: [600, 0],
      rotate: [-65, 0],
    }),
    {
      target: document.querySelector(".parallaxgrafik2_1"),
      offset: ["start end", "end start"],
    }
  );

  scroll(
    animate(".parallaxgrafik3_1", {
      x: [0, 50],
      y: [800, 0],
      rotate: [65, 0],
    }),
    {
      target: document.querySelector(".parallaxgrafik3_1"),
      offset: ["start end", "end start"],
    }
  );

  scroll(
    animate(".parallaxgrafik4_1", {
      x: [0, 50],
      y: [900, 0],
      rotate: [-65, 0],
    }),
    {
      target: document.querySelector(".parallaxgrafik4_1"),
      offset: ["start end", "end start"],
    }
  );

  scroll(animate(".parallaxgrafik5_1", { x: [0, 50], y: [300, 0] }), {
    target: document.querySelector(".parallaxgrafik5_1"),
    offset: ["start end", "end start"],
  });
</script>
