---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Marcala from "../assets/images/kaffe/marcala.webp";
import Modernespresso from "../assets/images/kaffe/modernitalianespresso.webp";
import Espressoblendno3 from "../assets/images/kaffe/espresso-blend3.webp";
import Havensfilter from "../assets/images/kaffe/havnensfilter.webp";
import Velvetesp from "../assets/images/kaffe/velvet-esp.webp";
import Cajamarca from "../assets/images/kaffe/cajamarca.webp";
import Darkespresso from "../assets/images/kaffe/darkespresso.webp";

const {
  navn1 = "VORES FARVORITTER",
  navn2 = "SPICY MIX",
  navn3 = "NYHEDS PAKKEN",
  navn4 = "BLAND SELV",

  bordercolor1 = "border-brand-yellow",
  bordercolor2 = "border-brand-rosa",
  bordercolor3 = "border-brand-blue",
  bordercolor4 = "border-brand-purple",

  bgcolor1 = "bg-brand-blue",
  bgcolor2 = "bg-brand-purple",
  bgcolor3 = "bg-brand-yellow",
  bgcolor4 = "bg-brand-rosa",

  bghovercolor1 = "hover:bg-brand-yellow",
  bghovercolor2 = "hover:bg-brand-rosa",
  bghovercolor3 = "hover:bg-brand-blue",
  bghovercolor4 = "hover:bg-brand-purple",

  textcolor1 = "text-brand-yellow",
  textcolor2 = "text-brand-rosa",
  textcolor3 = "text-brand-blue",
  textcolor4 = "text-brand-purple",

  texthovercolor1 = "hover:text-brand-blue",
  texthovercolor2 = "hover:text-brand-purple",
  texthovercolor3 = "hover:text-brand-yellow",
  texthovercolor4 = "hover:text-brand-rosa",
} = Astro.props;
---

<MainLayout>
  <div>
    <div class="px-s md:px-xl pt-3xl pb-xl">
      <h1 class="font-medium">VORES SORTIMENT</h1>
      <h3 class="pb-m">Multipack Abonnement</h3>

      <ul class="flex space-x-4 gap-xs mb-s">
        <li>
          <Link size="large" variant="textlink" size="medium" href="/sortiment"
            >Single poser</Link
          >
        </li>
        <li class="">
          <Link
            size="large"
            variant="textlink"
            size="medium"
            href="/Multipakker">Pakkeløsning</Link
          >
        </li>
      </ul>
      <hr class="bg-font-black m" />
    </div>

    <!-- sektion 1 -->
    <section
      class={`sticky top-0 min-h-screen w-screen bg-cover bg-center ${bgcolor1} p-s grid grid-rows-[auto_1fr_auto_auto_auto_auto_auto] grid-cols-5 md:grid-cols-[0.1fr_1fr_0.8fr_0.8fr_0.1fr_0.1fr]  md:py-10xl mangeelementerinview`}
      id="kaffe-section-1"
    >
      <!-- Indhold her -->

      <div
        class="col-span-full row-span-full grid-rows-subgrid grid-cols-subgrid grid"
      >
        <div class="col-start-1 md:row-start-1 md:col-start-2">
          <h3 class={`${textcolor1}`}>MULTIPACK</h3>
          <h1 class={`${textcolor1}`}>{navn1}</h1>
        </div>

        <!--billede-->
        <article
          class="relative grid justify-center col-start-3 col-span-3 row-start-2 py-y md:col-start-4 md:col-end-4 md:row-span-full md:row-end-4 hover:origin-center"
        >
          <!-- Marcala billede -->
          <div class="absolute inset-0 flex justify-center items-center">
            <Image
              src={Marcala}
              alt="kaffe"
              class="w-[150px] md:w-[250px] h-auto object-cover mangeelementer1 z-50"
            />
          </div>

          <div class="absolute inset-0 flex justify-center items-center">
            <Image
              src={Modernespresso}
              alt="kaffe"
              class="w-[135px] md:w-[250px] h-auto object-cover mangeelementer4 z-40"
            />
          </div>

          <div class="absolute inset-0 flex justify-center items-center">
            <Image
              src={Havensfilter}
              alt="kaffe"
              class="w-[135px] md:w-[250px] h-auto object-cover mangeelementer5 z-40"
            />
          </div>
          <!-- Kaffebønner billede -->
          <div class="md:absolute inset-0 flex justify-center items-center">
            <img
              src="/kaffebønner.webp"
              alt="bønner"
              class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer2 z-20 hidden md:block"
            />
          </div>

          <!-- Kaffebønner billede -->
          <div class="md:absolute inset-0 flex justify-center items-center">
            <img
              src="/kaffebønner.webp"
              alt="bønner"
              class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer3 z-20 hidden md:block"
            />
          </div>
        </article>
        <!-- slut -->

        <!--tekst-->
        <h3
          class={`${textcolor1} row-start-3 col-start-1 col-end-4 md:row-start-2  md:col-start-2 `}
        >
          80 - 275 DKK
        </h3>

        <h3
          class={`${textcolor1}  row-start-4 col-start-1 col-end-6 md:col-start-2 md:row-start-5 self-end`}
        >
          BYG DIT EGET ABONNEMENT
        </h3>
        <!-- slut -->

        <!-- SINGLE BUTTON ------>
        <div
          class="flex col-start-2 col-end-6 row-start-5 md:justify-start md:col-start-2 md:row-start-6"
        >
          <Link
            size="medium"
            variant="textlink"
            size="medium"
            href="/pakkeløsning"
          >
            <button
              class={`col-start col-end-6 px-lg py-xs border-2  ${bgcolor3} ${textcolor3} font-bold text-xl ${bghovercolor3} ${texthovercolor3} transition`}
            >
              KØB NU
              <span class="ml-2">→</span>
            </button>
          </Link>
        </div>
        <!-- SINGLE BUTTON slut ------>
      </div>

      <div
        class="flex items-center row-start-6 col-start-2 md:justify-start md:col-start-5 md:row-start-4"
      >
        <a href="#kaffe-section-4">
          <button
            class={`w-xl h-xl flex items-center justify-center rounded-full border-2 ${bordercolor1} ${bgcolor1} ${textcolor1} ${bghovercolor1} ${texthovercolor1} transition`}
          >
            Sidste
          </button>
        </a>
      </div>

      <div
        class="items-center row-start-6 col-start-3 md:justify-start md:col-start-5 md:row-start-5"
      >
        <h2
          class={`${textcolor1}  md:justify-start md:col-start-5 md:row-start-5 `}
        >
          1/4
        </h2>
      </div>

      <div
        class="flex items-center row-start-6 col-start-4 md:justify-start md:col-start-5 md:row-start-6"
      >
        <a href="#kaffe-section-2">
          <button
            class={`w-xl h-xl flex items-center justify-center rounded-full border-2 ${bordercolor1} ${bgcolor1} ${textcolor1} ${bghovercolor1} ${texthovercolor1} transition`}
          >
            Næste
          </button>
        </a>
      </div>
    </section>

    <!-- sektion 2 -->
    <section
      class={`sticky top-0 min-h-screen w-screen bg-cover bg-center ${bgcolor2} p-s grid grid-rows-[auto_1fr_auto_auto_auto_auto_auto] grid-cols-5 md:grid-cols-[0.1fr_1fr_0.8fr_0.8fr_0.1fr_0.1fr]  md:py-10xl mangeelementerinview`}
      id="kaffe-section-2"
    >
      <!-- Indhold her -->

      <div
        class="col-span-full row-span-full grid-rows-subgrid grid-cols-subgrid grid"
      >
        <div class="col-start-1 md:row-start-1 md:col-start-2">
          <h3 class={`${textcolor2}`}>MULTIPACK</h3>
          <h1 class={`${textcolor2}`}>{navn2}</h1>
        </div>

        <!--billede-->
        <article
          class="relative grid justify-center col-start-3 col-span-3 row-start-2 py-y md:col-start-4 md:col-end-4 md:row-span-full md:row-end-4 hover:origin-center"
        >
          <!-- Marcala billede -->
          <div class="absolute inset-0 flex justify-center items-center">
            <Image
              src={Cajamarca}
              alt="kaffe"
              class="w-[150px] md:w-[250px] h-auto object-cover mangeelementer1 z-50"
            />
          </div>

          <div class="absolute inset-0 flex justify-center items-center">
            <Image
              src={Velvetesp}
              alt="kaffe"
              class="w-[135px] md:w-[250px] h-auto object-cover mangeelementer4 z-40"
            />
          </div>

          <div class="absolute inset-0 flex justify-center items-center">
            <Image
              src={Darkespresso}
              alt="kaffe"
              class="w-[135px] md:w-[250px] h-auto object-cover mangeelementer5 z-40"
            />
          </div>
          <!-- Kaffebønner billede -->
          <div class="md:absolute inset-0 flex justify-center items-center">
            <img
              src="/kaffebønner.webp"
              alt="bønner"
              class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer2 z-20 hidden md:block"
            />
          </div>

          <!-- Kaffebønner billede -->
          <div class="md:absolute inset-0 flex justify-center items-center">
            <img
              src="/kaffebønner.webp"
              alt="bønner"
              class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer3 z-20 hidden md:block"
            />
          </div>
        </article>
        <!-- slut -->

        <!--tekst-->
        <h3
          class={`${textcolor2} row-start-3 col-start-1 col-end-4 md:row-start-2  md:col-start-2 `}
        >
          80 - 275 DKK
        </h3>

        <h3
          class={`${textcolor2}  row-start-4 col-start-1 col-end-6 md:col-start-2 md:row-start-5 self-end`}
        >
          BYG DIT EGET ABONNEMENT
        </h3>
        <!-- slut -->

        <!-- SINGLE BUTTON ------>
        <div
          class="flex col-start-2 col-end-6 row-start-5 md:justify-start md:col-start-2 md:row-start-6"
        >
          <Link
            size="medium"
            variant="textlink"
            size="medium"
            href="/pakkeløsning"
          >
            <button
              class={`col-start col-end-6 px-lg py-xs border-2  ${bgcolor4} ${textcolor4} font-bold text-xl ${bghovercolor4} ${texthovercolor4} transition`}
            >
              KØB NU
              <span class="ml-2">→</span>
            </button>
          </Link>
        </div>
        <!-- SINGLE BUTTON slut ------>
      </div>

      <div
        class="flex items-center row-start-6 col-start-2 md:justify-start md:col-start-5 md:row-start-4"
      >
        <a href="#kaffe-section-1">
          <button
            class={`w-xl h-xl flex items-center justify-center rounded-full border-2 ${bordercolor2} ${bgcolor2} ${textcolor2} ${bghovercolor2} ${texthovercolor2} transition`}
          >
            Sidste
          </button>
        </a>
      </div>

      <div
        class="items-center row-start-6 col-start-3 md:justify-start md:col-start-5 md:row-start-5"
      >
        <h2
          class={`${textcolor2}  md:justify-start md:col-start-5 md:row-start-5 `}
        >
          2/4
        </h2>
      </div>

      <div
        class="flex items-center row-start-6 col-start-4 md:justify-start md:col-start-5 md:row-start-6"
      >
        <a href="#kaffe-section-3">
          <button
            class={`w-xl h-xl flex items-center justify-center rounded-full border-2 ${bordercolor2} ${bgcolor2} ${textcolor2} ${bghovercolor2} ${texthovercolor2} transition`}
          >
            Næste
          </button>
        </a>
      </div>
    </section>

    <!-- sektion 3 -->
    <section
      class={`sticky top-0 min-h-screen w-screen bg-cover bg-center ${bgcolor3} p-s grid grid-rows-[auto_1fr_auto_auto_auto_auto_auto] grid-cols-5 md:grid-cols-[0.1fr_1fr_0.8fr_0.8fr_0.1fr_0.1fr]  md:py-10xl mangeelementerinview`}
      id="kaffe-section-3"
    >
      <!-- Indhold her -->

      <div
        class="col-span-full row-span-full grid-rows-subgrid grid-cols-subgrid grid"
      >
        <div class="col-start-1 md:row-start-1 md:col-start-2">
          <h3 class={`${textcolor3}`}>MULTIPACK</h3>
          <h1 class={`${textcolor3}`}>{navn3}</h1>
        </div>

        <!--billede-->
        <article
          class="relative grid justify-center col-start-3 col-span-3 row-start-2 py-y md:col-start-4 md:col-end-4 md:row-span-full md:row-end-4 hover:origin-center"
        >
          <!-- Marcala billede -->
          <div class="absolute inset-0 flex justify-center items-center">
            <Image src={Havensfilter}  alt="kaffe"
            class="w-[150px] md:w-[250px] h-auto object-cover mangeelementer1 z-50"></Image>
            
          </div>

          <div class="absolute inset-0 flex justify-center items-center">
            <Image
              src={Modernespresso}
              alt="kaffe"
              class="w-[135px] md:w-[250px] h-auto object-cover mangeelementer4 z-40"
            />
          </div>

          <div class="absolute inset-0 flex justify-center items-center">
            <Image
              src={Marcala}
              alt="kaffe"
              class="w-[135px] md:w-[250px] h-auto object-cover mangeelementer5 z-40"
            />
          </div>
          <!-- Kaffebønner billede -->
          <div class="md:absolute inset-0 flex justify-center items-center">
            <img
              src="/kaffebønner.webp"
              alt="bønner"
              class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer2 z-20 hidden md:block"
            />
          </div>

          <!-- Kaffebønner billede -->
          <div class="md:absolute inset-0 flex justify-center items-center">
            <img
              src="/kaffebønner.webp"
              alt="bønner"
              class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer3 z-20 hidden md:block"
            />
          </div>
        </article>
        <!-- slut -->

        <!--tekst-->
        <h3
          class={`${textcolor3} row-start-3 col-start-1 col-end-4 md:row-start-2  md:col-start-2 `}
        >
          80 - 275 DKK
        </h3>

        <h3
          class={`${textcolor3}  row-start-4 col-start-1 col-end-6 md:col-start-2 md:row-start-5 self-end`}
        >
          BYG DIT EGET ABONNEMENT
        </h3>
        <!-- slut -->

        <!-- SINGLE BUTTON ------>
        <div
          class="flex col-start-2 col-end-6 row-start-5 md:justify-start md:col-start-2 md:row-start-6"
        >
          <Link
            size="medium"
            variant="textlink"
            size="medium"
            href="/pakkeløsning"
          >
            <button
              class={`col-start col-end-6 px-lg py-xs border-2  ${bgcolor1} ${textcolor1} font-bold text-xl ${bghovercolor1} ${texthovercolor1} transition`}
            >
              KØB NU
              <span class="ml-2">→</span>
            </button>
          </Link>
        </div>
        <!-- SINGLE BUTTON slut ------>
      </div>

      <div
        class="flex items-center row-start-6 col-start-2 md:justify-start md:col-start-5 md:row-start-4"
      >
        <a href="#kaffe-section-2">
          <button
            class={`w-xl h-xl flex items-center justify-center rounded-full border-2 ${bordercolor3} ${bgcolor3} ${textcolor3} ${bghovercolor3} ${texthovercolor3} transition`}
          >
            Sidste
          </button>
        </a>
      </div>

      <div
        class="items-center row-start-6 col-start-3 md:justify-start md:col-start-5 md:row-start-5"
      >
        <h2
          class={`${textcolor3}  md:justify-start md:col-start-5 md:row-start-5 `}
        >
          3/4
        </h2>
      </div>

      <div
        class="flex items-center row-start-6 col-start-4 md:justify-start md:col-start-5 md:row-start-6"
      >
        <a href="#kaffe-section-4">
          <button
            class={`w-xl h-xl flex items-center justify-center rounded-full border-2 ${bordercolor3} ${bgcolor3} ${textcolor3} ${bghovercolor3} ${texthovercolor3} transition`}
          >
            Næste
          </button>
        </a>
      </div>
    </section>

    <!-- sektion 4 -->
    <section
      class={`sticky top-0 min-h-screen w-screen bg-cover bg-center ${bgcolor4} p-s grid grid-rows-[auto_1fr_auto_auto_auto_auto_auto] grid-cols-5 md:grid-cols-[0.1fr_1fr_0.8fr_0.8fr_0.1fr_0.1fr]  md:py-10xl mangeelementerinview`}
      id="kaffe-section-4"
    >
      <!-- Indhold her -->

      <div
        class="col-span-full row-span-full grid-rows-subgrid grid-cols-subgrid grid"
      >
        <div class="col-start-1 md:row-start-1 md:col-start-2">
          <h3 class={`${textcolor4}`}>MULTIPACK</h3>
          <h1 class={`${textcolor4}`}>{navn4}</h1>
        </div>

        <!--billede-->
        <article
          class="relative grid justify-center col-start-3 col-span-3 row-start-2 py-y md:col-start-4 md:col-end-4 md:row-span-full md:row-end-4 hover:origin-center"
        >
          <!-- Marcala billede -->
          <div class="absolute inset-0 flex justify-center items-center">
            <Image src={Darkespresso} alt="kaffe"
            class="w-[150px] md:w-[250px] h-auto object-cover mangeelementer1 z-50"></Image>
           
          </div>

          <div class="absolute inset-0 flex justify-center items-center">
          <Image src={Espressoblendno3}  alt="kaffe"
          class="w-[135px] md:w-[250px] h-auto object-cover mangeelementer4 z-40"> </Image>
          
           
          </div>

          <div class="absolute inset-0 flex justify-center items-center">
<Image src={Modernespresso} alt="kaffe"
class="w-[135px] md:w-[250px] h-auto object-cover mangeelementer5 z-40"></Image>
           
          </div>
          <!-- Kaffebønner billede -->
          <div class="md:absolute inset-0 flex justify-center items-center">
            <img
              src="/kaffebønner.webp"
              alt="bønner"
              class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer2 z-20 hidden md:block"
            />
          </div>

          <!-- Kaffebønner billede -->
          <div class="md:absolute inset-0 flex justify-center items-center">
            <img
              src="/kaffebønner.webp"
              alt="bønner"
              class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer3 z-20 hidden md:block"
            />
          </div>
        </article>
        <!-- slut -->

        <!--tekst-->
        <h3
          class={`${textcolor4} row-start-3 col-start-1 col-end-4 md:row-start-2  md:col-start-2 `}
        >
          80 - 275 DKK
        </h3>

        <h3
          class={`${textcolor4}  row-start-4 col-start-1 col-end-6 md:col-start-2 md:row-start-5 self-end`}
        >
          BYG DIT EGET ABONNEMENT
        </h3>
        <!-- slut -->

        <!-- SINGLE BUTTON ------>
        <div
          class="flex col-start-2 col-end-6 row-start-5 md:justify-start md:col-start-2 md:row-start-6"
        >
          <Link
            size="medium"
            variant="textlink"
            size="medium"
            href="/pakkeløsning"
          >
            <button
              class={`col-start col-end-6 px-lg py-xs border-2  ${bgcolor2} ${textcolor2} font-bold text-xl ${bghovercolor2} ${texthovercolor2} transition`}
            >
              KØB NU
              <span class="ml-2">→</span>
            </button>
          </Link>
        </div>
        <!-- SINGLE BUTTON slut ------>
      </div>

      <div
        class="flex items-center row-start-6 col-start-2 md:justify-start md:col-start-5 md:row-start-4"
      >
        <a href="#kaffe-section-3">
          <button
            class={`w-xl h-xl flex items-center justify-center rounded-full border-2 ${bordercolor4} ${bgcolor4} ${textcolor4} ${bghovercolor4} ${texthovercolor4} transition`}
          >
            Sidste
          </button>
        </a>
      </div>

      <div
        class="items-center row-start-6 col-start-3 md:justify-start md:col-start-5 md:row-start-5"
      >
        <h2
          class={`${textcolor4}  md:justify-start md:col-start-5 md:row-start-5 `}
        >
          4/4
        </h2>
      </div>

      <div
        class="flex items-center row-start-6 col-start-4 md:justify-start md:col-start-5 md:row-start-6"
      >
        <a href="#kaffe-section-1">
          <button
            class={`w-xl h-xl flex items-center justify-center rounded-full border-2 ${bordercolor4} ${bgcolor4} ${textcolor4} ${bghovercolor4} ${texthovercolor4} transition`}
          >
            Næste
          </button>
        </a>
      </div>
    </section>
  </div>

  <script>
    /* Import af Motion One biblioteket */
    import { animate, inView } from "motion";

    inView(".mangeelementerinview", ({ target }) => {
      console.log("Element is in view!");

      // Start animation
      animate(
        ".mangeelementer1",
        { x: [0, 0], y: [0, 0], rotate: [0, 0] }, //
        { duration: 0.8 }
      );
      animate(
        ".mangeelementer2",
        { x: [0, 300], y: [250, 0] },
        { duration: 0.8 }
      );

      animate(
        ".mangeelementer3",
        { x: [0, -300], y: [250, 0] },
        { duration: 0.8 }
      );

      animate(
        ".mangeelementer4",
        { x: [0, -105], y: [0, 0], rotate: [0, -10] }, // Tilføj rotation
        { duration: 0.8 }
      );

      animate(
        ".mangeelementer5",
        { x: [0, 105], y: [0, 0], rotate: [0, 10] }, // Tilføj rotation
        { duration: 0.8 }
      );

      // Out-of-view animation
      return () => {
        console.log("Element is out of view!");
        animate(
          ".mangeelementer1",
          { x: [0, 0], y: [0, 0], rotate: [-10, 0] }, // Roter tilbage
          { duration: 0.4 }
        );
        animate(
          ".mangeelementer2",
          { x: [0, 0], y: [0, 0] },
          { duration: 0.4 }
        );
        animate(
          ".mangeelementer3",
          { x: [0, 0], y: [0, 0] },
          { duration: 0.4 }
        );

        animate(
          ".mangeelementer4",
          { x: [0, 0], y: [0, 0], rotate: [0, 0] }, // Tilføj rotation
          { duration: 0.8 }
        );

        animate(
          ".mangeelementer5",
          { x: [0, 0], y: [0, 0], rotate: [0, 0] }, // Tilføj rotation
          { duration: 0.8 }
        );
      };
    });
  </script>
</MainLayout>
