---
const {
  navn = "",
  udAf = "",
  bgcolor = "",
  btncolor = "",
  txcolor = "",
} = Astro.props;
---

<div>
  <h1 class="font-medium text-7xl">VORES SORTIMENT</h1>

  <ul class="flex space-x-4 pb-10">
    <li>SINGLE POSER</li>
    <li>PAKKELØSNINGER</li>
  </ul>
</div>

<!-- Card section lilla-->
<section
  class={`sticky top-[0px] w-100 bg-cover bg-center max-w-full ${bgcolor} pt-10 grid sm:grid-cols-[0.1fr_1fr_0.1fr] md:grid-cols-[0.1fr_1fr_0.8fr_0.1fr] grid-rows-[auto_1fr_auto_auto_auto] md: py-10xl`}
>
  <div
    class="col-span-full row-span-full grid-rows-subgrid grid-cols-subgrid grid"
  >
    <div class="col-start-2 md:row-start-2 sm:row-start-1">
      <h3 class="text-rosa-500">SINGLE</h3>
      <h1 class={`text-8xl ${txcolor}`}>{navn}</h1>
    </div>

    <!--billede-->
    <article
      class="mangeelementerinview relative grid justify-center py-m md:col-start-3 md:col-end-4 md:row-span-full md:row-end-4 hover:origin-center"
    >
      <!-- Marcala billede -->
      <div class="absolute inset-0 flex justify-center items-center">
        <img
          src="src/assets/images/kaffe/marcala.webp"
          alt="kaffe"
          class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer1 z-50"
        />
      </div>
      <!-- Kaffebønner billede -->
      <div class="absolute inset-0 flex justify-center items-center">
        <img
          src="public/kaffebønner.webp"
          alt="bønner"
          class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer2 z-20"
        />
      </div>

      <!-- Kaffebønner billede -->
      <div class="absolute inset-0 flex justify-center items-center">
        <img
          src="public/kaffebønner.webp"
          alt="bønner"
          class="w-[100px] md:w-[250px] h-auto object-cover mangeelementer3 z-20"
        />
      </div>
    </article>

    <!-- slut -->

    <!--tekst-->
    <h3 class="text-rosa-500 md:text-2xl col-start-2 h-fit">80 - 275 DKK</h3>

    <h2 class="text-rosa-500 col-start-2 self-end text-2xl">
      BYG DIT EGET ABONNEMENT
    </h2>
    <!-- slut -->

    <!-- SINGLE BUTTON ------>
    <div
      class="flex items-center sm:justify-end md:justify-start md:col-start-2 md:row-start-5"
    >
      <button
        class="px-xl py-xs border-2 border-rosa-500 text-rosa-500 font-bold text-lg hover:bg-rosa-500 hover:text-purple-500 hover:border-purple-500 transition"
      >
        SINGLE
        <span class="ml-2">→</span>
      </button>
    </div>
    <!-- SINGLE BUTTON slut ------>

    <!-- Indikatior med pile -->
    <div
      class="flex space-x-xs items-center sm:justify-end md:justify-start py-sm col-start-5 md:rotate-90 sm:row-start-6"
    >
      <button
        class={`rotate-180 w-xl h-xl flex items-center justify-center rounded-full ${btncolor} text-purple-500 hover:bg-purple-500 hover:text-rosa-500 transition`}
        >→
      </button>
      <h2 class="text-rosa-500 md: transform-90">{udAf}</h2>
      <button
        class="w-xl h-xl flex items-center justify-center rounded-full bg-rosa-500 text-purple-500 hover:bg-purple-500 hover:text-rosa-500 transition"
        >→
      </button>
    </div>
    <!-- Indikatior med pile slut-->
  </div>
</section>

<script>
  /* Import af Motion One biblioteket */
  import { animate, inView } from "motion";

  inView(".mangeelementerinview", ({ target }) => {
    console.log("Element is in view!");

    // Start animation
    animate(
      ".mangeelementer1",
      { x: [0, 0], y: [0, 0], rotate: [0, 15] }, // Tilføj rotation
      { duration: 0.8 }
    );
    animate(
      ".mangeelementer2",
      { x: [0, 200], y: [100, 0] },
      { duration: 0.8 }
    );

    animate(
      ".mangeelementer3",
      { x: [0, -150], y: [100, 0] },
      { duration: 0.8 }
    );

    // Out-of-view animation
    return () => {
      console.log("Element is out of view!");
      animate(
        ".mangeelementer1",
        { x: [0, 0], y: [0, 0], rotate: [-10, 0] }, // Roter tilbage
        { duration: 0.4 }
      );
      animate(
        ".mangeelementer2",
        { x: [0, 200], y: [0, 0] },
        { duration: 0.4 }
      );
      animate(
        ".mangeelementer3",
        { x: [0, -150], y: [0, 0] },
        { duration: 0.4 }
      );
    };
  });
</script>
